body
{
    background-color: #E2E2E2;
}
.logo-img
{
    display: flex;
    border: 1px solid #000;
    background-image: url("../img/top-logo.jpg");
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0C2732;
}
.menu
{
    display: flex;
    background-color: #333;
    align-content: flex-start;
    color: #fff;
    list-style-type: none;
}
.menu ul
{
    list-style: none;
}
.menu li
{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
}

.menu li:hover
{
    background-color: #226F8E;
}

.menu a:-webkit-any-link
{
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

#active-menu-item
{
    border-bottom: 3px solid #D01D4A;
}

.search
{
    padding: 0;
    height: 25px;
}

.center-content
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.center-content h2
{
    text-align: center;
    text-transform: uppercase;
}

.center-content div
{
    background-color: #ACACAC;
    width: 30%;
}

.left-container ol
{
    padding: 20px;
}

.left-container li
{
    margin: 5px;
}

.center-container img
{
    width: 100%;
}

.ingridients
{
    padding: 5px;
}

.center-container a:-webkit-any-link
{
    color: #000;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px
}

.center-container a:hover
{
    
    text-decoration: underline;
}

.top-10
{
    font: 20px sans-serif;
    margin-left: 15px;
    list-style: none;
}

.top-10 li:hover
{
    border-left: 5px solid #3CCE7B;
}

.new
{
    font: 20px sans-serif;
    margin-left: 15px;
    list-style: none;
}

.new li:hover
{
    border-left: 5px solid #CE3C3C;
}