body
{
    background-color: #E2E2E2;
}
.logo-img
{
    display: flex;
    border: 1px solid #000;
    background-image: url("../img/top-logo.jpg");
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0C2732;
}
.menu
{
    display: flex;
    background-color: #333;
    align-content: flex-start;
    color: #fff;
    list-style-type: none;
}
.menu>ul
{
    list-style: none;
}
.menu>ul>li
{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
}
.menu>ul>li:hover
{
    background-color: #226F8E;
}
.menu>ul>li>a:-webkit-any-link {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}
#active-menu-item
{
    border-bottom: 3px solid #D01D4A;
}
.search
{
    padding: 0;
    height: 25px;
}

.center-content
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.center-content div
{
    background-color: #ACACAC;
    width: 40vh;
}

.left-container ol
{
    padding: 20px;
}

.left-container li
{
    margin: 5px;
}

.center-container img
{
    width: 100%;
}